@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker');

html {
  background: black;
  text-align: center;
  font-family: "Oswald"
}

div::before {
  content: before;
}

div::after {
  content: after;
}

header h1 {
  font-size: 125px;
  font-family: "permanent marker";
  color: #00faa2;
}

header h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 33px;
  color: white;
}

.wrapper{
  width: 300;
  margin: auto;
}

.round {
  border-radius: 50%;
}

main {
  color: white;
}

a {
  font-family: "shadows into light", Arial, sans-serif;
  font-size: 40px;
}

a:link    { color: #fcc33f; }
a:visited { color: red; }
a:hover   { color: #fc3fdd; }
a:active  { color: #b8ff5c;  }

main h2 {
  color:#00faa2;
  font-size: 50px;
}
main p {
  font-size: 25px;
}
main h4 {
  font-size: 20px;
}

main ul {
  color: #0093bf;
  font-size: 30px;
}



ol {
  color:  #0093bf;
  font-size: 30px;
}

.box {
  text-align: left !important;
  width: 400px;
  background-color:#dbdbd7;
  padding: 20px;
  border: 5px solid #14abfc;
  margin: 15px;
  
}

.boxborder {
  box-sizing: border-box;
}


footer {
  color: white;
}
