@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker');

html {
  background: #242424;
  text-align: center;
  font-family: "Oswald"
}

div::before {
  content: before;
}

div::after {
  content: after;
}

header h1 {
  font-size: 125px;
  font-family: "permanent marker";
  color: #d6fff7;
}

header h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: #fffdba;
}

.wrapper {
  width: 300;
  margin: auto;
color: #ffbcb8;
}

img {
width:300px;
}

.img-round {
  border-radius: 50%;
}

main {
  color: #ffffff;
}

a {
  font-family: "shadows into light", Arial, sans-serif;
  font-size: 40px;
}

a:link    { color: #d6fb18; }
a:visited { color: #fc5f6f; }
a:hover   { color: #fd6dec; }
a:active  { color: #adfaff; }

main h2 {
  color:#0a0a0a;
  font-size: 50px;
}
main p {
  font-size: 25px;
}
main h4 {
  color: #ffffff;
  font-size: 20px;
}

main ul {
  color: #c7d4d6;
  font-size: 30px;
}

ol {
  color:  #c7d4d6;
  font-size: 30px;
}

.box {
  text-align: left;
  width: 400px;
  background-color: #242424;
  padding: 20px;
  border: 5px solid #c7d4d6;
  margin: 15px auto;
  
}

.boxborder {
  box-sizing: border-box;
}


footer {
  color: #fcfcfc;
  font-size: 30px;
}
